.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-image: linear-gradient(ghostwhite, transparent);
}
.header-flex p{
    color: orange;
    font-size: 12px;
    padding-bottom: 15px;
}